/*# sourceMappingURL=style.css.map */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #f5f5ee;
  display: flex;
  justify-content: flex-start;
  justify-content: flex-end;
  justify-content: center;
  justify-content: space-around;
  height: 15vh;
  align-items: flex-start;
  align-items: flex-end;
  align-items: center;
}

h1 {
  border: solid red;
}

p {
  padding: 10px;
}

.logoTexto {
  display: flex;
  justify-content: space-evenly;
  width: 15%;
  align-items: center;
}

nav {
  border: solid rgb(14, 196, 29);
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #5c5858
}

.primeiraSection {
  background-color: yellow;
  height: 50vh;
}

.primeiraSection section {
  border: solid;
  width: 50%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btnverdeheader {
  background-color: #21C05C;
  color: #FFFFFF;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 18px;
  border-radius: 6px;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #4B5563;
}


.produtosDisponiveis {
  background-color: rgb(203, 244, 230);
  height: 85vh;
  display: flex;
  justify-content: space-evenly;
  justify-content: space-between;
  justify-content: space-around;
  align-items: flex-end;
  align-items: flex-start;
  align-items: center;
}

.produtosDisponiveis article {
  border: solid red;
  width: 20%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.produtosDisponiveis article img {
  width: 100%;
  height: 30vh;
  border: solid;
}

.produtosDisponiveis article button {
  width: 45%;
  height: 5vh;
  cursor: pointer;
  margin-bottom: 1rem;
  background-color: #16a34a;
  color: #ffffff;
  font-weight: 900;
  border-radius: 15px;
  font-size: 1.2rem;
}

/*# sourceMappingURL=style.css.map */

.div {
  border: solid;
  display: fex;
  justify-content: space-between;
  width: 20%;
}





/*responsivo*/
/* estruturar com imitador, minimo de px e max de px

@media (min-width: ;) and (max-width: ;){

}

// quero que vc aplique esse estilo em telas do 0px até 500px */

@media (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
    height: 20vh;
  }

  .caixaLogo {
    border: solid;
    width: 70%;
  }

  nav {
    border: solid;
    width: 100%;

    a {
      font-size: 0.8rem;
    }

    .btnVerdeHeader {
      font-size: 0.8rem;
    }
  }

  /*Section Produtos Disponíveis*/
  .produtosDisponiveis {
    display: flex;
    /*/Não teria necessidade de usar. Ele já foi ativado na linha 87 */
    flex-direction: column;
    background-color: pink;

    article {
      width: 80%;
      text-align: center;

      button {
        font-size: 1rem;
        width: 70%;
        font-weight: 400;
      }
    } 
  }
}
